$bg-color : #9b59b6;
$danger : #e74c3c;
$success : #2ecc71;
$color : #3498db;

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-color;


    .search_area{
        width: 450px;
        background: #fff;
        border-radius: 8px;

        .header{
            font-size: 1.3em;
            text-align: center;

            i{
                font-size: 1.5em;
                margin-right: 6px;
            }
        }

        span{
           font-size: 0.8em;
           color: red;
           display: none;
        }
    }
}

.error{
    animation: anim 0.6s infinite ease-in-out;
}

@keyframes anim {
    0%{
        transform: translateX(-35px);
    }
    20%{
        transform: translateX(35px);
    }
    40%{
        transform: translateX(-35px);
    }
    60%{
        transform: translateX(35px);
    }
    80%{
        transform: translateX(-35px);
    }
    100%{
        transform: translateX(35px);
    }
}